{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie 11"],
        "node": "4"
      },
      "modules": false
    }],
    "stage-0",
    "babili"
  ],
  "plugins": ["lodash", "transform-decorators-legacy"]
}
